* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: cornflowerblue;
    border: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}

button:hover {
    background-color: cornflowerblue;
    color: #fff;
}

.sucess-message {
    background-color: green;
    padding: 8px;
    color: #fff;
    display: none;
}

.error-message {
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    display: none;
}